<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043747982646-7nsim7fjhulqkdg1sjh5pvuitp187lur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043747982646-7nsim7fjhulqkdg1sjh5pvuitp187lur</string>
	<key>API_KEY</key>
	<string>AIzaSyCG-GQVqKYG-_bkgrVXAiUXFNevUQ1WXww</string>
	<key>GCM_SENDER_ID</key>
	<string>1043747982646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MC.Mazaya.MC-Mazaya</string>
	<key>PROJECT_ID</key>
	<string>mc-mazaya</string>
	<key>STORAGE_BUCKET</key>
	<string>mc-mazaya.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043747982646:ios:e068873784ea890f8fb797</string>
	<key>DATABASE_URL</key>
	<string>https://mc-mazaya.firebaseio.com</string>
</dict>
</plist>